<div *ngIf="filterFormToggle">
  <form class="filter-container" [formGroup]="filterForm">
    <div class="form-group row">
      <label for="model" class="col-sm-2 col-form-label">Car Model</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="model"
          placeholder="Model"
          formControlName="model"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="color" class="col-sm-2 col-form-label">Color</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="color"
          placeholder="Color"
          formControlName="color"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="productionDate" class="col-sm-2 col-form-label">Year</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="productionDate"
          placeholder="YYYY"
          formControlName="productionDate"
        />
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Transmission</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="transmission"
              id="gridRadios1"
              formControlName="transmission"
              value="Manual"
              checked
            />
            <label class="form-check-label" for="gridRadios1"> Manual </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="transmission"
              id="gridRadios2"
              formControlName="transmission"
              value="Auto"
            />
            <label class="form-check-label" for="gridRadios2"> Auto </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="button" (click)="submitFilter()" class="btn btn-primary">
          Search
        </button>
        <button
          type="button"
          (click)="resetFilter()"
          class="btn btn-primary"
          style="margin-left: 15px"
        >
          Reset
        </button>
      </div>
    </div>
  </form>
</div>
