<div class="car-gallery-container">
  <div class="gallery" *ngFor="let car of cars | filtering:filterValues">
    <a target="_blank" href={{car.image}}>
      <img src={{car.image}} alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">
      <p>Model: {{car.model}} <br>
        Color: {{car.color}} <br>
        Transmission: {{car.transmission}} <br>
        Production date: {{car.productionDate.substr(0, 10)}} <br>
        Description: {{car.description}} <br>
        <br>
      <app-add-favorite
      [car]="car"
      (addOrRemoveFromFavorite)="addToFavorite(car)">
      </app-add-favorite>
      </p>
    </div>
  </div>
</div>

