<div *ngIf="addCarFormToggle">
  <!-- ngNativeValidate enables the browser's validation instead of the Bootstrap's -->
 <form
    ngNativeValidate
    class="filter-container"
    [formGroup]="addNewCarForm"
    (ngSubmit)="saveNewCarToDB()"
  >
    <div class="form-group row">
      <label for="model" class="col-sm-2 col-form-label">Car Model</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="model"
          required
          placeholder="Model"
          formControlName="model"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="color" class="col-sm-2 col-form-label">Color</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="color"
          required
          placeholder="Color"
          formControlName="color"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label"
        >Description</label
      >
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="description"
          required
          placeholder="Description"
          formControlName="description"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Production Date</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input
            id="productionDate"
            required
            type="date"
            formControlName="productionDate"
            class="form-control"
            placeholder="YYYY-MM-DD"
          />
        </div>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Transmission</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="transmission"
              id="gridRadios1"
              required
              formControlName="transmission"
              value="Manual"
              checked
            />
            <label class="form-check-label" for="gridRadios1"> Manual </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="transmission"
              id="gridRadios2"
              formControlName="transmission"
              value="Auto"
            />
            <label class="form-check-label" for="gridRadios2"> Auto </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label for="image" class="col-sm-2 col-form-label">Image</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="image"
          placeholder="Image link http://               If empty a placeholder image will be used"
          formControlName="image"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>
