.main-screen-container {
  background-color: rgb(214, 214, 214);
  min-height: 500px;
}

.car-gallery-container {
  /* column-count: 5; */ /* Masonry */
  /* column-gap: 1px; */
  /* border: 3px solid rgb(90, 156, 63); */
  display: flex;
  margin: 1px;
  flex-wrap: wrap;
  justify-content: center;
}

div.gallery {
  display: inline-block;
  margin: 2px;
  border: 1px solid #ccc;
  width: 19.7%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.addFav:hover {
  background-color: #0275d8;
}

.add-new-car {
  color: #da8e01;
  margin: 7px;
}

.add-new-car:hover {
  background-color: #0275d8;
}

.filter-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

label,
input {
  display: block;
}

label {
  margin-bottom: 10px;
}

.aboutComp {
  justify-content: center;
  text-align: center;
  width: 20%;
  margin-left: 40%;
}

/*News START*/
.news-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(69, 72, 73);
  min-height: 500px;
  padding-left: 15%;
  padding-right: 15%;
}

.news-section-container p, h6{
  margin: 10px;
}

.main-news-container {
  display: inline-block;
  width: 50%;
  height: 650px;
  margin-bottom: 1px;
  text-align: center;
  margin-top: 5px;
  margin-left: 9px;
  margin-right: 9px;
  background-color: beige;
}

.main-news-container img {
  width: 100%;
  height: auto;
}
.right-side-news-container {
  display: inline-block;
  width: 25%;
  height: 650px;
  margin: 2px;
  margin-top: 5px;
  margin-right: 5px;
  padding-right: 7px;
}

.right-side-news-container img {
  width: 100%;
  height: auto;
}

.right-side-single-news {
  display: block;
  width: auto;
  height: 50%;
  text-align: center;
  font-size: small;
  text-overflow: ellipsis;
  background-color: beige;
}

.middle-news-container {
  display: flex;
  width: 77%;
  height: 300px;
  font-size: small;
  text-align: center;
  margin-bottom: 5px;
  padding-left: 9px;
  padding-right: 2px;
}

.middle-news-container-singleNews {
  display: inline-block;
  min-width: 10%;
  width: 24.6%;
  height: auto;
  margin-top: 9px;
  background-color: beige;
  margin-right: 10px;
}

.middle-news-container img {
  width: 100%;
  height: auto;
}
/*News END*/

.login-container {
  margin: auto;
  width: 40%;
  border: 3px solid tomato;
}
